<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dhenu.app">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.CAMERA" />


    <application
        android:name="com.dhenu.app.MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidTemplate"
        tools:targetApi="31">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.dhenushree.app"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name="com.dhenu.app.ui.splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.dhenu.app.ui.login.LoginActivity"
            android:exported="false" />

        <activity
            android:name="com.dhenu.app.ui.signup.SignupActivity"
            android:exported="false" />

        <activity
            android:name="com.dhenu.app.ui.navigation.NavigationActivity"
            android:exported="false" />
        <activity
            android:name="com.dhenu.app.ui.customer.customerlist.CustomerListActivity"
            android:exported="false" />
        <activity
            android:name="com.dhenu.app.ui.businessman.BusinessManActivity"
            android:exported="false" />

        <activity
            android:name=".ui.items.ItemsListActivity"
            android:exported="false" />

        <activity
            android:name=".ui.mortgage.addmortgage.AddMortgageActivity"
            android:exported="false" />

        <activity
            android:name=".ui.mortgage.getmortgage.MortgageListActivity"
            android:exported="false" />

        <activity
            android:name=".ui.mortgage.mortgageoption.MortgageOptionActivity"
            android:exported="false" />

        <activity
            android:name=".ui.mortgage.mortgagedetail.MortgageDetailActivity"
            android:exported="false" />

        <activity
            android:name=".ui.village.VillageListActivity"
            android:exported="false" />

        <activity
            android:name=".ui.customer.addcustomer.AddCustomerActivity"
            android:exported="false" />

        <activity
            android:name=".ui.exchange.exchangelist.ExchangeListActivity"
            android:exported="false" />

        <!--        <activity-->
        <!--            android:name=".ui.exchange.exchangedetail.ExchangeDetailActivity"-->
        <!--            android:exported="false" />-->

        <!--        <activity-->
        <!--            android:name=".ui.exchange.searchexchange.SearchExchangeActivity"-->
        <!--            android:exported="false" />-->
    </application>

</manifest>